/*Muda a fonte e o fundo do body*/
body {
    font-family: Arial, sans-serif;
    background-color: #eeeeee;
}

body {
    align-items: center;
    justify-content: center;
    min-height: 100%;
    margin: 0;
    text-align: center;
}

header{ 
    background-color: #0D80BF;
    padding: 2px;
}

main {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: 100px 700px 0 ;
    
}

footer{
    background-color: #0D80BF;
    text-align: center;
    margin-top: 53vh;
}

input{
    margin: 5px;
}

h1 {
    text-align: center;
}

button {
    border-radius: 50px;
    background-color: #0D80BF;
    padding: 20px;
    margin: 25px;
    font-size: 15px;
    border: none;
}

button:hover{
    background-color: #3bb7fa;
}

input{
    width: auto;
    height: 50px;
    border-radius: 15px;
    border-style: solid;
    border-color:#545555 ;
}